@using ToucheTools.Web.Services
@model ToucheTools.Models.DatabaseModel
@inject IModelStorageService _modelStorageService
@{
    string sessionId = "";
    if (Context.Request.Query.TryGetValue("id", out var val))
    {
        sessionId = val[0];
    }
    bool loggedIn = false;
    ModelContainer? container = null;
    string initialFilename = "";
    Dictionary<string, string> routeData = new Dictionary<string, string>();
    if (!string.IsNullOrEmpty(sessionId))
    {
        loggedIn = _modelStorageService.TryGetModels(sessionId, out container);
        if (!loggedIn)
        {
            sessionId = "";
        }
        else
        {
            initialFilename = container.InitialFilename;
            routeData["id"] = sessionId;
        }
    }
}

@if (!loggedIn)
{
    <script>
        window.location.href = "/";
    </script>
    return;
}

<div>
    <h1 class="display-4">Programs</h1>
    <p>The following is the list of existing programs in the uploaded file:</p>
    <ul>
        @foreach (var pair in Model.Programs)
        {
            var program = pair.Value;
            var programRouteData = new Dictionary<string, string>(routeData);
            programRouteData.Add("program", pair.Key.ToString());
            <li><a asp-area="" asp-controller="Home" asp-action="GetProgram" asp-all-route-data="programRouteData">@pair.Key (@pair.Value.OriginalSize bytes) - @program.Instructions.Count Instructions, @program.Areas.Count Areas, @program.Backgrounds.Count Backgrounds, @program.Points.Count Points, @program.Rects.Count Rectangles, @program.Walks.Count Walks, @program.Hitboxes.Count Hitboxes</a></li>
        }
        @foreach (var pair in Model.FailedPrograms)
        {
            <li><span class="text-danger">@pair.Key - Failed: @pair.Value</span></li>
        }
    </ul>
</div>
